@page "/todo"

<h3>Todos (@todoList.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var item in todoList)
    {
        
        <li>
            <input type="checkbox" @bind="item.IsDone"/>
            <input @bind="item.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todoList = new();
        private string? newTodo;
    
    private void AddTodo() {
        if(!string.IsNullOrWhiteSpace(newTodo)){
            todoList.Add(new TodoItem {Title = newTodo});

            newTodo = string.Empty;
        }
    }
}
