@page "/todo"

<h3>Todo</h3>

<ul>
    @foreach (var item in todoList)
    {
        <input type="checkbox" @bind="item.IsDone"/>
        <li>@item.Title</li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todoList = new();
        private string? newTodo;
    
    private void AddTodo() {
        if(!string.IsNullOrWhiteSpace(newTodo)){
            todoList.Add(new TodoItem {Title = newTodo});

            newTodo = string.Empty;
        }
    }
}
