@page "/todo"

<h3>Todo</h3>

<ul>
    @foreach (var item in todos)
    {
        <li>@item.Title</li>
    }
</ul>

<input placeholder="Something todo" />
<button>Add todo</button>

@code {
    private List<TodoItem> todos = new();
}
